[defaults]
inventory = ../ansible/inventory.yaml
vault_password_file=~/.vaultpass
roles_path = roles:playbooks/roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
[ssh_connection]
pipelining = True