- name: Force Terraform to recreate this specific node
  delegate_to: terraform
  shell: |
    terraform apply -replace='proxmox_vm_qemu.proxmox_vms["{{ inventory_hostname }}"]' -auto-approve
  args:
    chdir: "/home/kevin/terraform"
  async: 300 
  poll: 10
  throttle: 1