- name: Run Drush commands
  become: true
  become_user: www-data
  ansible.builtin.shell:
    cmd: "/var/www/vendor/drush/drush/drush {{ item }}"
    chdir: "/var/www/html/sites/default"
  run_once: true
  loop:
    - "state:set system.maintenance_mode 1"
    - "updatedb -y"
    - "cache:rebuild"
    - "state:set system.maintenance_mode 0"