- name: Update all Virtual Machines
  hosts: repo_*
  become: true
  serial: 25%
  tasks:
    - name: VM Update Block
      block:

        - name: Update apt cache and upgrade packages
          apt:
            upgrade: dist
            update_cache: yes
            autoremove: yes
          register: apt_res
          until: apt_res is success
          retries: 5
          delay: 10

        - name: Remove redundant dependencies
          apt:
            autoremove: yes
            purge: yes

        - name: Check if a reboot is required
          stat:
            path: /var/run/reboot-required
          register: reboot_required_file

        - name: Debug update status
          debug:
            msg: "System is up to date. Reboot required: {{ reboot_required_file.stat.exists }}"

        - name: Reboot the machine if kernel was updated
          reboot:
            msg: "Rebooting to apply kernel updates via Ansible"
          when: reboot_required_file.stat.exists
